{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Delivery{% endblock %}

{% block extra_css%}
    <link rel="stylesheet" href="">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row mt-5">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="main-print mb-4 contact-header-h1">Delivery</h1>
            </div>
        </div>
    
        <div class="row">
            <div class="col">
                <h2 class="main-print contact-header-h2">Please read below our delivery policy</h2>
                <p class="side-print">
                    At Floral Design we offer a simple and cheap delivery solution for our customers. Please take a moment to read our Delivery policy below.
                </p>
                <p class="side-print">
                    We endevour to ship out all orders within a day of ordering. This ensures that your products will arrive within 2 working days of ordering. 
                </p>
                <h3 class="main-print">
                    Delivery costs
                </h3>
                <p class="side-print">
                    If you spend £60 or more on one purchase, delivery will be absolutely free.
                </p>
                <p class="side-print">
                    All orders below £60 will be subject to a small delivery fee.
                </p>
                <p class="side-print">
                    This delivery fee, will automaticlaly be added to your final spend total and will be clwarly displaye on the checkout page.
                </p>
                <p class="side-print">
                    As of November 2024, the cost of shipping is 2 % of the total order, on a spend of below £40. A spend above £40 will be charged 5% of the overall cost for delivery. For an order £60 and above delivery will be free.
                </p>
            </div>
        </div>
    </div>
    
{% endblock %}
