{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="hero" id="hero">
    <div class="hero-opaque"></div>
    <div class="hero-sentance">
        <h1>Order Your Flower Arrangement for every occasion</h1>
    </div>
    <div class="arrow-left" id="left-arrow-1">
        <i class="fa-solid fa-circle-chevron-left"></i>
    </div>
    <div class="arrow-left" id="left-arrow-2">
        <i class="fa-solid fa-circle-chevron-left"></i>
    </div>
    <div class="arrow-right" id="right-arrow-1">
        <i class="fa-solid fa-circle-chevron-right"></i>
    </div>
    <div class="arrow-right" id="right-arrow-2">
        <i class="fa-solid fa-circle-chevron-right"></i>
    </div>
    <a href="https://www.google.co.uk/" target="_blank" class="shop-now-btn">Shop Now</a>
    <div class="picture-picker-1" id="picture-picker-1">
        <i class="fa-solid fa-circle"></i>
    </div>
    <div class="picture-picker-2" id="picture-picker-2">
        <i class="fa-regular fa-circle"></i>
    </div>
</div>
{% endblock %}