{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Home{% endblock %}

{% block content %}
<div class="hero" id="hero">
    <div class="hero-opaque"></div>
    <div class="hero-sentance">
        <h1>Flowers for all occasions</h1>
    </div>
    <div class="arrow-left" id="left-arrow-1">
        <i class="fa-solid fa-circle-chevron-left"></i>
    </div>
    <div class="arrow-left" id="left-arrow-2">
        <i class="fa-solid fa-circle-chevron-left"></i>
    </div>
    <div class="arrow-right" id="right-arrow-1">
        <i class="fa-solid fa-circle-chevron-right"></i>
    </div>
    <div class="arrow-right" id="right-arrow-2">
        <i class="fa-solid fa-circle-chevron-right"></i>
    </div>
    <a href="{% url 'products' %}" class="shop-now-btn">Shop Now</a>
    <div class="picture-picker-1" id="picture-picker-1">
        <i class="fa-solid fa-circle"></i>
    </div>
    <div class="picture-picker-2" id="picture-picker-2">
        <i class="fa-regular fa-circle"></i>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-4">
            <a href="{% url 'products' %}?category=weddings,engagements,barmitzvahs">
                <h2>Ocassions</h2>
                
            <img class="menu-image" src="/media/IMG_0020.jpg" alt="Ocassions">
            </a>
        </div>
        <div class="col-12 col-lg-4">
            <a href="{% url 'products' %}?category=table-top,standing,flat,tall">
                <h2>Arrangements</h2>
                
                <img class="menu-image" src="{% static 'images/IMG_0002' %}" alt="Ocassions">
            </a>
        </div>
        <div class="col-12 col-lg-4">
            <a href="{% url 'products' %}?category=round,flat-bouquet,x-l">
                <h2>Bouquets</h2>
                <img class="menu-image" src="/media/IMG_0012.jpg" alt="Bouquets">
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        var leftArrow1 = document.getElementById("left-arrow-1");
        var leftArrow2 = document.getElementById("left-arrow-2");
        var rightArrow1 = document.getElementById("right-arrow-1");
        var rightArrow2 = document.getElementById("right-arrow-2");
        var picturePicker1 = document.getElementById("picture-picker-1");
        var picturePicker2 = document.getElementById("picture-picker-2");
        var hero = document.getElementById("hero");
            function change(){
                hero.style.backgroundImage="url('/media/flower-setting.jpg')"
                hero.style
                leftArrow1.style.display="none"
                leftArrow2.style.display="block"
                rightArrow2.style.display="block"
                rightArrow1.style.display="none"
                picturePicker1.innerHTML='<i class="fa-regular fa-circle"></i>'
                picturePicker2.innerHTML='<i class="fa-solid fa-circle"></i>'
                $('.hero-sentance').html("<h1>Fresh flowers daily</h1>")
            }

            function change2(){
                hero.style.backgroundImage="url('/media/orchid-pink.jpg')"
                leftArrow2.style.display="none"
                leftArrow1.style.display="block"
                rightArrow1.style.display="block"
                rightArrow2.style.display="none"
                picturePicker2.innerHTML='<i class="fa-regular fa-circle"></i>'
                picturePicker1.innerHTML='<i class="fa-solid fa-circle"></i>'
                $('.hero-sentance').html("<h1>Flowers for all occasions</h1>")
            }
            
        leftArrow2.addEventListener('click', change2);
        leftArrow1.addEventListener('click', change);
        rightArrow1.addEventListener('click', change);
        rightArrow2.addEventListener('click', change2);
        picturePicker2.addEventListener('click', change);
        picturePicker1.addEventListener('click', change2);
    </script>
{% endblock %}