{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Home{% endblock %}

{% block content %}
<div class="hero" id="hero">
    <div class="hero-opaque"></div>
    <div class="hero-sentance">
        <h1>Flowers for all occasions</h1>
    </div>
    <div class="arrow-left" id="left-arrow-1">
        <i class="fa-solid fa-circle-chevron-left"></i>
    </div>
    <div class="arrow-left" id="left-arrow-2">
        <i class="fa-solid fa-circle-chevron-left"></i>
    </div>
    <div class="arrow-right" id="right-arrow-1">
        <i class="fa-solid fa-circle-chevron-right"></i>
    </div>
    <div class="arrow-right" id="right-arrow-2">
        <i class="fa-solid fa-circle-chevron-right"></i>
    </div>
    <a href="{% url 'products' %}" class="shop-now-btn">Shop Now</a>
    <div class="picture-picker-1" id="picture-picker-1">
        <i class="fa-solid fa-circle"></i>
    </div>
    <div class="picture-picker-2" id="picture-picker-2">
        <i class="fa-regular fa-circle"></i>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-4">
            <a href="{% url 'products' %}?category=weddings,engagements,barmitzvahs">
                <h2>Ocassions</h2>
                
            <img class="menu-image" src="/media/IMG_0020.jpg" alt="Ocassions">
            </a>
        </div>
        <div class="col-12 col-lg-4">
            <a href="{% url 'products' %}?category=table-top,standing,flat,tall">
                <h2>Arrangements</h2>
                
                <img class="menu-image" src="/media/IMG_0002.JPG" alt="Ocassions">
            </a>
        </div>
        <div class="col-12 col-lg-4">
            <a href="{% url 'products' %}?category=round,flat-bouquet,x-l">
                <h2>Bouquets</h2>
                <img class="menu-image" src="/media/IMG_0012.jpg" alt="Bouquets">
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'js/base.js'%}"></script>
{% endblock %}