{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row mt-5">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <h2 class="main-print mb-4">Your Flower Basket</h2>
            </div>
        </div>
        <div class="row"></div>
            <div class="col">
                {% if basket_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="main-print">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Update Basket</th>
                                    <th scope="col">Subtotal</th>
                                    <th scope="col">Remove Item</th>
                                </tr>
                            </thead>
                            {% for item in basket_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    <img src="{{ item.product.image.url}}" alt="" class="img-fluid rounded" style="height:100px; width:100px;">
                                </td>
                                <td class="py-3">
                                    <p class="my-0 side-print"><strong>{{ item.product.name }}</strong></p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0 side-print">£{{ item.product.price }}</p>
                                </td>
                                <td class="py-3">
                                    <form class="form update-form" action="{% url 'adjust_basket' item.item_id %}" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn-sm border rounded-0"
                                                        data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                        <span class="main-print">
                                                            <i class="fas fa-minus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <input type="number" 
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="99" 
                                                    data-item_id="{{ item.item_id }}" 
                                                    id="id_qty_{{ item.item_id }}" 
                                                    class="form-control form-control-sm qty_input">
                                                <div class="input-group-append">
                                                    <button class="increment-qty border btn-sm rounded-0"
                                                        data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                        <span class="main-print">
                                                            <i class="fas fa-plus fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <p class="update-link side-print"><i class="fa-regular fa-circle-check"></i></p>
                                    <p class="remove-item main-print" id="remove_{{ item.item_id}}"><i class="fa-solid fa-trash-can"></i></p>
                                </td>
                                <td class="py-3"></td>
                                <td class="py-3">
                                    <p class="my-0 side-print">£{{ item.product.price }}</p>
                                </td>
                                <td class="py-3"></td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 side-print text-right">
                                    <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                                    {% if remaining_for_free_delivery > 0 %}
                                        <p class="mb-1 main-print">
                                            You could get free delivery by spending just <strong>£{{ remaining_for_free_delivery }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="side-print border rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="" class="side-print border rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your Basket is Empty!</p>
                    <a href="{% url 'products' %}" class="main-print rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/qty_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })


    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/basketremove/${itemId}`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}

