{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row mt-5">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <h2 class="main-print mb-4">Your Flower Basket</h2>
            </div>
        </div>
        <div class="row"></div>
            <div class="col">
                {% if basket_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="main-print">
                                <tr>
                                    <th scope="col">Produvt Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>
                            {% for item in basket_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    <img src="{{ item.product.image.url}}" alt="" class="img-fluid rounded">
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">£{{ item.product.price }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">{{ item.quantity }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">£{{ item.product.price }}</p>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your Basket is Empty!</p>
                {% endif %}
                <a href="{% url 'products' %}" class="btn main-print">
                    <span class="icon">
                        <i class="fas fa-chevron left"></i>
                    </span>
                    <span>Keep Shopping</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

