:root{
    --main-color:#e6423d;
    --white-color:#fff;
    --decrative-font:Merienda;
    --main-font:Federo;
    --main-color-opaque:rgba(230, 66, 61, 0.5);
    --side-color:#806161;
    --side-color-opaque:rgba(128, 97, 97, 0.4);
}

html{
    height:100%;
}

.main-print{
    color: var(--main-color);
    font-family: var(--main-font);
}

.side-print{
    color:var(--side-color);
    font-family: var(--main-font);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    outline: none;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

header {
    background-color: var(--white-color);
}

.logo{
    background: url('/media/logo.png')no-repeat center center;
    background-size: contain;
    height: 180px;
    width:180px;
}

.nav-row {
    margin-top:10px;
}

.nav-bar-row {
    height:20px;
    padding-left: 10px;
}

.search-bar-container {
    width:70%;
    height:50px;
    z-index: 1;
}

.search-bar {
    padding-left: 10px;
    width:70%;
    height:45px;
    outline:none;
    border:none;
    border-radius: 40px;
    box-shadow: 1px 2px 2px 1px rgba(230, 66, 61, 0.2);
    background-color: rgba(230, 66, 61, 0.1);
}

.search-bar:focus,
.search-bar:active {
    box-shadow: none;
    border: solid 1px rgba(230, 66, 61, 0.3);
    border-radius: 40px;
    outline: none;
    background-color: #fff;
}

.search-btn {
    background-color: transparent;
    border: none;
    position: relative;
    right:100%;
    top:20%;
    height: 20px;
    color:var(--main-color)
}

.search-bar:focus, .search-btn:focus {
    outline: none;
}

.nav-link {
    color:var(--main-color) !important;
    font-family: var(--main-font);
}

.nav-link:hover {
    color:var(--main-color-opaque) !important;
}

.dropdown-style {
    background-color: #e2736f;
    border: solid 10px #e6423d;
}

.toggler{
    color:var(--main-color);
    font-size: x-large;
}

.navbar-toggler{
    outline: none !important;
    border:none;
}

/* ------------------------------------Home app index page styles */

.hero {
    position: relative;
    background: url('/media/orchid-pink.jpg')center center;
    background-size: cover;
    height: 100vh;
    width: 98vw;
    left:0.5%;
    top:1%;
    border-radius: 5px;
    border: solid white 3px;
    box-shadow: inset;
    background-size: 100% 100%;
    background-position: center center;
    animation: shrink 5s;
}

/* animation for hero image on load */
@keyframes shrink {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 110% 110%;
  }
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.hero-opaque {
    position: inherit;
    background-color: rgba(128, 97, 97, 0.4);
    height: 100%;
    width: 100%;
}

.hero-sentance {
    position: absolute;
    top:40%;
    /* left:10%; */
    font-family: var(--decrative-font);
    width:80%;
    left:12%;
    background-color: rgba(128, 97, 97, 0.1);
}



h1 {
    font-size: 2rem;
    text-align: center;
    font-family: var(--decrative-font);
    font-weight:400;
    color:var(--white-color);
}

.arrow-left{
    position: absolute;
    left:10px;
    top:60%;
    color: var(--main-color);
    font-size: 36px;
    cursor: pointer;
}

.arrow-right{
    position: absolute;
    right:10px;
    top:60%;
    color: var(--main-color);
    font-size: 36px;
    cursor: pointer;
}

#left-arrow-2,
#right-arrow-2{
    display: none;
}

.arrow-left:hover,
.arrow-right:hover {
   font-size: 40px;
}


.picture-picker-1,
.picture-picker-2 {
    position: absolute;
    left:45%;
    top:95%;
    color: var(--main-color);
    cursor: pointer;
}

.picture-picker-1 {
    left:49%;
}

.picture-picker-2 {
    left:51%;
}

.shop-now-btn {
    position: absolute;
    top:80%;
    left:43%;
    width:15%;
    background-color: var(--main-color);
    color:var(--white-color);
    font-weight: 400;
    font-size: 2rem;
    font-family: var(--decrative-font);
    padding:5px;
    text-align: center;
    border-radius: 5px;
}

.shop-now-btn:hover{
    background-color: var(--white-color);
    color:var(--main-color);
    outline: none;
}

.shop-now-btn:active,
.shop-now-btn:focus {
    color:var(--white-color);
    background-color: var(--main-color);
}

hr{
    position: inherit;
    color:var(--main-color-opaque);
    width:95vw;
    border:solid 0.1rem;
}

h2{
    color: var(--main-color);
    font-family: var(--main-font);
    text-align: center;
}

.menu-image {
    height:300px;
    width:300px;
    margin-left:50px;
    margin-top: 20px;
}


/* ------------------------------------products app styles */

.border-style {
    border: solid 2px var(--white-color);
    box-shadow: 1px 1px 1px 1px var(--side-color-opaque);
}

.product-hr{
    border: solid 2px var(--main-color-opaque);
    width:90%;
}

.add-basket-btn{
    width:15%;
    background-color: var(--main-color);
    color:var(--white-color);
    font-weight: 400;
    font-size: 0.5rem;
    font-family: var(--decrative-font);
    padding:3px;
    text-align: center;
    border-radius: 1px;
}

.add-basket-btn:hover{
    background-color: var(--white-color);
    color:var(--main-color)
}

.filter-btn {
    border:solid 1px var(--main-color) !important;
    outline: none;
}

.filter-btn:hover {
    background-color: var(--main-color);
    color:var(--white-color);
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }

  }

@media (max-width:830px) {
    .logo{
    background: url('/media/logo-mobile.png')no-repeat center center;
    background-size: contain;
    height: 130px;
    width:130px;
    }

    .header-container{
        padding-top: 120px;
    }
    

    .mobile-nav-margins{
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 30px;
    }

    .search-bar {
        width:80%;
    }

    .nav-top{
        margin-top: 30px;
    }

    .push-down{
        position:absolute;
        top:100px;
    }

    .menu-image{
        align-items: center;
    }

    h2{
        width:90vw;
      }

      .hero{
        width:97vw;
        height:60vh;
      }

    .shop-now-btn {
        left:40%;
        width:20%;
        font-size: 1.5rem;
    }

}



@media (max-width:430px) {
    .mobile-nav-margins{
        margin-left: 20px;
        margin-right: 10px;
        margin-top: 10px;
    }

    .nav-top{
        font-size: 10px;
        margin-top: 10px;
    }

    .logo{
        display:none;
    }

    .hero{
        height:60vh;
      }
    
      .opaque{
        height: 60vh;
      }
}