<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item nav-link">By Price</a>
                <a href="" class="dropdown-item nav-link">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item nav-link">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown main-color">
            <a class="nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Arrangements
            </a>
            <div class="dropdown-menu dropdown-style border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item nav-link">Table Top</a>
                <a href="" class="dropdown-item nav-link">Standing</a>
                <a href="" class="dropdown-item nav-link ">Flat</a>
                <a href="" class="dropdown-item nav-link ">Tall</a>
                <a href="" class="dropdown-item nav-link">All Arrangements</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bouquets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item nav-link">Round</a>
                <a href="" class="dropdown-item nav-link ">Flat</a>
                <a href="" class="dropdown-item nav-link ">Extra Large</a>
                <a href="" class="dropdown-item nav-link">All Bouquets</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Occasions
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item nav-link">Weddings</a>
                <a href="" class="dropdown-item nav-link ">Engagements</a>
                <a href="" class="dropdown-item nav-link ">Bar Mitzvahs</a>
                <a href="" class="dropdown-item nav-link">All Occasions</a>
            </div>
        </li>
    </ul>
</div>