{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Contact{% endblock %}

{% block extra_css%}
    <link rel="stylesheet" href="">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row mt-5">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="main-print mb-4">Contact Us</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="side-print">Please fill in the form below</p>
            <form action="{% url 'contact' %}" method="POST" class="mt-3" id="contact-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn float-right">
                    Submit
                </button>
            </form>
        </div>
    </div>
    
{% endblock %}
