{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Edit Product{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row mt-5">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="main-print mb-4">Product Management</h2>
                <h5 class="side-print">Edit a Product</h5>
            </div>
        </div>
        <div class="row">
            <!-- form for admin to edit product -->
            <div class="col-12 col-md-6">
                <form action="{% url 'edit_product' product.id %}" method="POST" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a href="{% url 'products' %}" class="shadow add-edit-cancel-btn">Cancel</a>
                        <button class="shadow button add-edit-btn" type="submit">Edit Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        // function for loading new image
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}