{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row mt-3">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <div>
                            <img class="card-img-center img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </div>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}test-image.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="product-details-container mb-5 mt-md-5">
                    <h6 class="mb-0 font-weight-bold">{{ product.name }}</h6>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                    </div>
                </div>
                <div class="description">
                    <p>{{ product.description }}</p>
                </div>
            </div>
        </div>
    </div>
        
{% endblock %}
