{% extends "base.html" %}
{% load static %}

{% block extra_title %} - {{ product.name }}{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row mt-3">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 push-down offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <div>
                            <img class="card-img-center img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </div>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}test-image.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <h4 class="mb-0 main-print font-weight-bold">{{ product.name }}</h4>
                </div>
                <div class="description side-print">
                    <p style="text-align: justify;">{{ product.description }}</p>
                </div>
                {% if product.category %}
                    <p class="small mt-1 mp-0">
                        <a href="{% url 'products' %}?category={{ product.category.name }}" class="text-mute">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                {% endif %}
                <div class="row">
                    <div class="col">
                        <p class="lead mb-0 text-left font-weight-bold main-print">£{{ product.price }}</p>
                        {% if request.user.is_superuser %}
                            <small class="ml-3">
                                <a href="{% url 'edit_product' product.id %}">Edit</a>
                                <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                            </small>
                        {% endif %}
                        <form action="{% url 'add_to_basket' product.id %}" method="POST" class="form">
                            {% csrf_token %}
                            <div class="form-row mb-2">
                                <div class="col-12">
                                    <div class="form-group w-50">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty border rounded-0"
                                                    data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                    <span class="icon main-print">
                                                        <i class="fas fa-minus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input type="number" 
                                                name="quantity" value="1" min="1" max="99" 
                                                data-item_id="{{ product.id }}" 
                                                id="id_qty_{{ product.id }}" 
                                                class="form-control qty_input">
                                            <div class="input-group-append">
                                                <button class="increment-qty border rounded-0"
                                                    data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                    <span class="icon main-print">
                                                        <i class="fas fa-plus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mt-5">
                                <div class="col-12">
                                    <a href="{% url 'products' %}" class="main-print add-basket-btn">
                                        <span>
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span>Keep Shopping</span>
                                    </a>
                                    <input type="submit" class="main-print add-basket-btn" value="Add to Basket">
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="ml-5 mt-6">
                    <h2>Reviews</h2>

                    {% if request.user.is_authenticated %}
                        <a href="{% url 'review_product' %}">Review this product</a>
                    {% endif %}

                    <h3 class="side-print">
                        Product Reviews ({{ reviews.count}})
                    </h3>
                    <div class="col-12 md-5">
                        <div class="row">

                            {% for review in reviews %}
                                <p class="main-print">
                                    Product rating: 
                                    {% if review.rating == 1 %}
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    {% elif review.rating == 2 %}
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    {% elif review.rating == 3 %}
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    {% elif review.rating == 4 %}
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    {% else %}
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    {% endif %}
                                </p>
                            </div>
                             <div class="row">
                                <p class="side-print">{{ review.review }}</p>
                             </div>
                             <div class="row">
                                <div class="col-12">
                                    <p class="side-print">{{ review.date }}</p>
                                </div>
                                <div class="col-12">
                                    <p class="side-print">{{ review.time }}</p>
                                </div>
                             </div>
                             <div class="row">
                                <p class="main-print"><strong>{{ review.name }}</strong></p>
                             </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
        
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/qty_input_script.html' %}
{% endblock%}